{% extends "core/core_base.html"%}

{% block body_block%}
<h1>Welcome </h1>
<div class="container">
  <table class="table table-bordered" style="width:100%">
    <thead>
      {% for category in categories %}
      <th> {{category.name}}</th>
      {% endfor %}
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            {% for category in categories %}
            <p>{{category.description}}</p>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for category in categories %}
            <p>{{category.description}}</p>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for category in categories %}
            <p>{{category.description}}</p>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>

  </table>

</div>
{% endblock %}
