{% extends "core/core_base.html"%}
{% load staticfiles%}
{% block body_block%}
  <form method="get">
    <div>
      <table class="table table-bordered" style="width:100%">
        <thead>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Amount</th>
          <th scope= "col">Add to Cart</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                {% for product in products %}
                  <p>{{product.name}} </p>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for product in products %}
                  <p>{{product.price_ht}} </p>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for product in products %}
                  <p>{{product.category}} </p>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                <select  name="amount">
                  <option value="total1">1</option>
                  <option value="total2">2</option>
                  <option value="total3">3</option>
                </select>
              </ul>
              <ul>
                <select  name="amount">
                  <option value="total1">1</option>
                  <option value="total2">2</option>
                  <option value="total3">3</option>
                </select>
              </ul>
              <ul>
                <select  name="amount">
                  <option value="total1">1</option>
                  <option value="total2">2</option>
                  <option value="total3">3</option>
                </select>
              </ul>
              <ul>
                <select  name="amount">
                  <option value="total1">1</option>
                  <option value="total2">2</option>
                  <option value="total3">3</option>
                </select>
              </ul>
              <ul>
                <select  name="amount">
                  <option value="total1">1</option>
                  <option value="total2">2</option>
                  <option value="total3">3</option>
                </select>
              </ul>
              <ul>
                <select  name="amount">
                  <option value="total1">1</option>
                  <option value="total2">2</option>
                  <option value="total3">3</option>
                </select>
              </ul>
            </td>
            <td>
              <ul>
                <a href="{% url 'core:added' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add to cart</a>
              </ul>
              <ul>
                <a href="{% url 'core:added' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add to cart</a>
              </ul>
              <ul>
                <a href="{% url 'core:added' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add to cart</a>
              </ul>
              <ul>
                <a href="{% url 'core:added' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add to cart</a>
              </ul>
              <ul>
                <a href="{% url 'core:added' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add to cart</a>
              </ul>
              <ul>
                <a href="{% url 'core:added' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Add to cart</a>
              </ul>
            </td>
          </tr>
      </tbody>
    </table>
    <a href="{% url 'core:order_summary' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Checkout</a>
    </div>
  </form>
{% endblock %}
